@use './colors' as c;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}

body {
	font-family: 'Outfit', sans-serif;
	font-size: 1.8rem;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: c.$very-dark-blue-main-BG;
}
.card {
	width: 375px;
	padding: 2.5rem;
	background-color: c.$very-dark-blue-card-BG;
	border-radius: 20px;
	box-shadow: 0px 0px 25px 15px rgb(11 22 45);
	overflow: hidden;
}
.image {
	width: 100%;
	border-radius: 20px;
}
.title {
	margin: 1.5rem 0;
	font-weight: 700;
	color: c.$white;
}
.description {
	margin: 1.5rem 0;
	line-height: 3rem;
	color: c.$soft-blue;
}
.icons {
	border: 2px solid green;
}
.author-data {
	border: 2px solid yellow;
}
.attribution {
	border: 2px solid orange;
}
