@use './colors' as c;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}

body {
	font-family: 'Outfit', sans-serif;
	font-size: 1.8rem;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: c.$very-dark-blue-main-BG;
}
.card {
	width: 375px;
	padding: 2.5rem;
	background-color: c.$very-dark-blue-card-BG;
	border-radius: 20px;
	box-shadow: 0px 0px 25px 15px rgb(11 22 45);
	overflow: hidden;
}

.image {
	width: 100%;
	border-radius: 20px;
	transition: 0.3s;
}
.image:hover {
	cursor: pointer;
	background-color: aqua;

}
.title {
	margin: 1.5rem 0;
	font-weight: 700;
	color: c.$white;
}
.title,
.author-name {
	transition: color 0.3s;
}
.title:hover,
.author-name:hover {
	cursor: pointer;
	color: c.$cyan;
}
.description {
	font-size: 1.8rem;
	margin: 1.5rem 0;
	line-height: 3rem;
	color: c.$soft-blue;
}
.icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	font-size: 1.8rem;
}
.left {
	color: c.$cyan;
	font-weight: 700;
}
.right {
	color: c.$soft-blue;
}

.author-data {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 1.5rem 0;
	font-size: 1.8rem;
	color: c.$soft-blue;
}
hr {
	height: 1px;
	border: none;
	background-color: c.$soft-blue;
}
.avatar {
	height: 40px;
	margin-right: 2rem;
	border: 2px solid c.$white;
	border-radius: 50%;
}
.author-data span {
	color: c.$white;
}
